<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <h1 th:text="'List of Owners'">List of Owners</h1>
    <table>
         <thread>
            <tr>
                <td><b>Id</b></td>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
            </tr>
         </thread>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">id</td>
            <td th:text="${owner.firstName}">First Name</td>
            <td th:text="${owner.lastName}">Last Name</td>
        </tr>
    </table>
</body>
</html>